* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    /* color: SeaGreen; */
    color: antiquewhite;
    text-align: center;
    /* margin-top: 3%; */
  }
   
   
  p, 
  ul,
  li {
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    list-style-position: inside;
    color: antiquewhite;
  }
   
   
  a {
    text-decoration: none;
    color:rgb(196, 190, 178)
  }

  #jeremiah {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    /* background-image: url("../images/mtns01.jpg") ;
    background-repeat: no-repeat;
    background-position: center center; */
  }

  #back {
    background-image: url("../images/mtns01.jpg");
    Background-size: 100%;
    height: 1100px;
    margin: 0px;
  }

  * {
    overflow:hidden;
  }

  #title{
    background-color: rgb(87, 86, 84);
    margin-left: 35%;
    margin-right: 35%;
  }

  #list{
    background-color: rgb(87, 86, 84);
    margin-left: 35%;
    margin-right: 35%;
  }